# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.installed.cfg

# venv
.venv*/
env/
ENV/

# PyInstaller build
build/
dist/
*.spec

# ffmpeg binary (ダウンロード式に変更推奨)
packaging/ffmpeg/ffmpeg

# macOS
.DS_Store

# VSCode
.vscode/

# Logs
*.log
warn-*.txt
error-*.txt
